@model EmployeeManagementSystem.Models.ViewModel.ProjectBranchesVM
@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h4 class="highline">Create Branch</h4>
<div>
    @Html.ActionLink("Back to List", "Index")
</div>
@using (Html.BeginForm("Create", "Default", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <div class="form-group">
            Branch:
            <input list="Branch" name="BranchName" id="BranchName" required autocomplete="off">
            <datalist id="Branch">
                @foreach (var item in Model.BranchList)
                {
                    <option value="@item.BranchName" />
                }
            </datalist>
        </div>
        <div class="form-group">
            <div id="ProData" class="Table">
                <div id="RowData" class="Row">
                    <input type="text" name="ProjectName" placeholder="ProjectName" />
                    <input type="text" name="TeamLeader" placeholder="TeamLeader" />
                    <input type="text" name="Mamber" placeholder="Mamber" />
                    <input type="text" name="Budget" placeholder="Budget" />
                    <input type="text" class="datepicker"name="StartDate" placeholder="StartDate" />
                    <input type="file" name="imgFile" placeholder="imgFile" />
                    <a id="addRow" href="#" class="btn btn-small"><i>Add</i></a><hr />
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="input-field col s2">
                <input type="submit" value="Create" class="btn btn-default">
            </div>
        </div>
    </div>
}
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<script>

    $('#addRow').on('click', function () {
        $('#ProData').append('<div id="RowData" class="Row"><input type="text" name="ProjectName" placeholder="ProjectName" /><input type="text" name="TeamLeader" placeholder="TeamLeader" /><input type="text" name="Mamber" placeholder="Mamber" /><input type="text" name="Budget" placeholder="Budget" /><input type="date" name="StartDate" placeholder="StartDate" /><input type="file" name="imgFile" placeholder="imgFile" /><a id="deleteRow" href="#" class="btn btn-xs btn-danger"><i>Remove</i></a><hr /></div>');
        $('#ProData').addClass();
        return false; //prevent form submission
    });
    $('#ProData').on('click', '#deleteRow', function () {
        $(this).parent().remove();
        return false; //prevent form submission
    });
    $(document).ready(function () {
        $('.datepicker').datepicker();
    });
</script>
